@using MCEI.SysControlAdmin.EN.ProfessionOrStudy___EN
@model MCEI.SysControlAdmin.EN.Membership___EN.Membership

@{
    ViewData["Title"] = "Crear Membresia";
    List<ProfessionOrStudy> professionOrStudies = ViewBag.ProfessionOrStudies as List<ProfessionOrStudy>;
}

@section Style{
    <link href="/css/Membership/DesignCreateAndEdit.css" rel="stylesheet" />
}

<h1>Crear Nueva Membresia</h1>
<span>@ViewBag.Error</span>
<!-- Checkbox para "Soy Menor De Edad" -->
<div class="form-group form-check">
    <input type="checkbox" id="isMinorCheckbox" class="form-check-input" />
    <h5 for="isMinorCheckbox" class="form-check-label">Soy Menor De Edad</h5>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <form id="Form" asp-action="Create" onsubmit="CreateRecord(event)" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h3>Información Personal</h3>
            <!-- Nombres, Apellidos, Dui -->
            <div class="form-group-row">
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" placeholder="Ingresar" id="Name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" placeholder="Ingresar" id="LastName"/>
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Dui" class="control-label"></label>
                    <input asp-for="Dui" class="form-control" placeholder="00000000-0" id="inputDui" />
                    <span asp-validation-for="Dui" class="text-danger"></span>
                </div>
            </div>

            <!-- Fecha de nacimiento, Edad, Género -->
            <div class="form-group-row">
                <div class="form-group">
                    <label asp-for="DateOfBirth" class="control-label"></label>
                    <input asp-for="DateOfBirth" class="form-control" />
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Age" class="control-label"></label>
                    <input asp-for="Age" class="form-control" placeholder="Ingresar" readonly />
                    <span asp-validation-for="Age" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Gender" class="control-label"></label>
                    <select class="form-select" name="Gender">
                        <option value="" selected>Seleccionar</option>
                        <option value="Masculino">Masculino</option>
                        <option value="Femenino">Femenino</option>
                    </select>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
            </div>

            <!-- Estado civil, Teléfono, Dirección de residencia -->
            <div class="form-group-row">
                <div class="form-group">
                    <label asp-for="CivilStatus" class="control-label"></label>
                    <select class="form-select" name="CivilStatus">
                        <option value="" selected>Seleccionar</option>
                        <option value="Soltero/a">Soltero/a</option>
                        <option value="Casado/a">Casado/a</option>
                        <option value="Divorciado/a">Divorciado/a</option>
                        <option value="Viudo/a">Viudo/a</option>
                    </select>
                    <span asp-validation-for="CivilStatus" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Phone" class="control-label"></label>
                    <input asp-for="Phone" class="form-control" placeholder="0000-0000" id="inputPhone" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" placeholder="Ingresar" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
            </div>

            <!-- Profesión u oficio, Lugar de trabajo o estudio, Teléfono de trabajo o estudio -->
            <div class="form-group-row">
                <div class="form-group">
                    <label asp-for="IdProfessionOrStudy" class="control-label"></label>
                    <select class="select2 form-select" id="IdProfessionOrStudy" name="IdProfessionOrStudy">
                        <option value="" selected>Seleccionar</option>
                        @foreach (var profesionOrStudy in professionOrStudies!)
                        {
                            <option value="@profesionOrStudy.Id">@profesionOrStudy.Name</option>
                        }
                    </select>
                    <span asp-validation-for="IdProfessionOrStudy" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PlaceOfWorkOrStudy" class="control-label"></label>
                    <input asp-for="PlaceOfWorkOrStudy" class="form-control" placeholder="Ingresar" />
                    <span asp-validation-for="PlaceOfWorkOrStudy" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="WorkOrStudyPhone" class="control-label"></label>
                    <input asp-for="WorkOrStudyPhone" class="form-control" id="inputPhoneEmergency" placeholder="0000-0000" />
                    <span asp-validation-for="WorkOrStudyPhone" class="text-danger"></span>
                </div>
            </div>
            <br />
            <h3>Información Complementaria</h3>
            <!-- Fecha de conversión, Lugar de conversión -->
            <div class="form-group-row">
                <div class="form-group">
                    <label asp-for="ConversionDate" class="control-label"></label>
                    <input asp-for="ConversionDate" class="form-control" />
                    <span asp-validation-for="ConversionDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PlaceOfConversion" class="control-label"></label>
                    <input asp-for="PlaceOfConversion" class="form-control" placeholder="Ingresar" />
                    <span asp-validation-for="PlaceOfConversion" class="text-danger"></span>
                </div>
            </div>

            <!-- Bautismo en agua, Bautismo por el Espíritu Santo -->
            <div class="form-group-row">
                <div class="form-group">
                    <label asp-for="WaterBaptism" class="control-label"></label>
                    <select class="form-select" name="WaterBaptism">
                        <option value="">Seleccionar</option>
                        <option value="Si, Dentro de la Mision">Si, Dentro de la Mision</option>
                        <option value="Si, Fuera de la Mision">Si, Fuera de la Mision</option>
                    </select>
                    <span asp-validation-for="WaterBaptism" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BaptismOfTheHolySpirit" class="control-label"></label>
                    <select class="form-select" name="BaptismOfTheHolySpirit">
                        <option value="" selected>Seleccionar</option>
                        <option value="Si">Si</option>
                        <option value="No">No</option>
                    </select>
                    <span asp-validation-for="BaptismOfTheHolySpirit" class="text-danger"></span>
                </div>
            </div>

            <!-- Nombre del pastor, Nombre del supervisor, Nombre del líder -->
            <div class="form-group-row">
                <div class="form-group">
                    <label asp-for="PastorsName" class="control-label"></label>
                    <input asp-for="PastorsName" class="form-control" placeholder="Ingresar" id="PastorsName" />
                    <span asp-validation-for="PastorsName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SupervisorsName" class="control-label"></label>
                    <input asp-for="SupervisorsName" class="form-control" placeholder="Ingresar" id="SupervisorsName" />
                    <span asp-validation-for="SupervisorsName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LeadersName" class="control-label"></label>
                    <input asp-for="LeadersName" class="form-control" placeholder="Ingresar" id="LeadersName" />
                    <span asp-validation-for="LeadersName" class="text-danger"></span>
                </div>
            </div>

            <!-- Tiempo de asistir, Zona, Distrito, Sector, Celula -->
            <div class="form-group-row">
                <div class="form-group">
                    <label asp-for="TimeToGather" class="control-label"></label>
                    <input asp-for="TimeToGather" class="form-control" placeholder="Ingresar" />
                    <span asp-validation-for="TimeToGather" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Zone" class="control-label"></label>
                    <select class="form-select" name="Zone">
                        <option value="" selected>Seleccionar</option>
                        <option value="1">Zona 1</option>
                        <option value="2">Zona 2</option>
                    </select>
                    <span asp-validation-for="Zone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="District" class="control-label"></label>
                    <select class="form-select" name="District">
                        <option value="" selected>Seleccionar</option>
                        <option value="1">Distrito 1</option>
                        <option value="2">Distrito 2</option>
                        <option value="3">Distrito 3</option>
                    </select>
                    <span asp-validation-for="District" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Sector" class="control-label"></label>
                    <select class="form-select" name="Sector">
                        <option value="" selected>Seleccionar</option>
                        <option value="1">Sector 1</option>
                        <option value="2">Sector 2</option>
                        <option value="3">Sector 3</option>
                    </select>
                    <span asp-validation-for="Sector" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cell" class="control-label"></label>
                    <select class="form-select" name="Cell">
                        <option value="" selected>Seleccionar</option>
                        <option value="1">Celula 1</option>
                        <option value="2">Celula 2</option>
                        <option value="3">Celula 3</option>
                        <option value="4">Celula 4</option>
                        <option value="5">Celula 5</option>
                    </select>
                    <span asp-validation-for="Cell" class="text-danger"></span>
                </div>
            </div>

            <!-- Estado -->
            <div class="form-group-row">
                <div class="form-group">
                    <label asp-for="Status" class="control-label"></label>
                    <select class="form-select" name="Status">
                        <option value="1">Activo</option>
                        <option value="2">Inactivo</option>
                    </select>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CommentsOrObservations" class="control-label"></label>
                    <input asp-for="CommentsOrObservations" class="form-control" placeholder="Ingresar" />
                    <span asp-validation-for="CommentsOrObservations" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageData" class="control-label"></label>
                    <input type="file" class="form-control" id="imagen" name="imagen" onchange="mostrarImagen()" asp-for="ImageData" />
                    <span asp-validation-for="ImageData" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="form-group-row">
                <div>
                    <img id="imagenPreview" src="#" alt="Vista previa de la imagen" style="max-width: 100%; max-height: 200px; display: none; border: 1px solid #d3d3d3;" />
                </div>
                <br />
                <div>
                    <svg id="barcode"></svg>
                </div>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Crear Membresia" class="btn btn-primary" /> |
                <a class="btn btn-outline-secondary" asp-action="Index">Regresar a La Lista</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
   <script src="/js/Membership/Create.js"></script>
    <script>
        // Mostrar alerta de ViewBag.Error si es necesario
        @if (!string.IsNullOrEmpty(ViewBag.Error))
        {
            @:showErrorAlert('@ViewBag.Error');
        }
    </script>
}
