@{
    ViewData["Title"] = "Inicio";
}

@section Style {
    <link href="/css/Home/DesignWelcome.css" rel="stylesheet" />
}

<div class="bienvenida">
    <div>
        <img class="elimLogo" src="/assets/img/logos/Logo-Elim-Black.png" alt="Alternate Text" width="200" />
        <h3 class="font-weight-bold">¡Bienvenido De Vuelta!</h3>
        <h6 class="font-weight-normal mb-0">Sistema De Control Administrativo - Misión Cristiana Elim Izalco</h6>
    </div>
</div>